// Font
$root-font-family: Karla;
$root-font-size: 16px;
$root-font-weight: 400;

// Color
$cyan: hsl(179, 62%, 43%);
$bright-yellow: hsl(71, 73%, 54%);
$light-gray: hsl(204, 43%, 93%);
$grayish-blue: hsl(218, 22%, 67%);

@mixin set-size($w, $h) {
  width: $w;
  height: $h;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: $root-font-family;
  font-size: $root-font-size;
  font-weight: $root-font-weight;
  color: $light-gray;
  border: none;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.1rem;
}

h1,
h2 {
  font-weight: 700;
  color: white;
}

section#community-section {
  background-color: white;

  h1 {
    color: $cyan;
  }

  p.emphasis-text {
    color: $bright-yellow;
    font-weight: 700;
  }

  p {
    color: $grayish-blue;
  }
}

section#pricing-section {
  background-color: $cyan;

  p.price-rate {
    color: rgba($color: white, $alpha: 0.5);

    span {
      color: white;
    }
  }

  button {
    background-color: $bright-yellow;
    border-radius: 5px;
    color: white;
    box-shadow: 0 10px 10px 0 rgba($color: black, $alpha: 0.15);
  }
}

section#advantages-section {
  background-color: rgba($color: $cyan, $alpha: 0.8);
  ul li {
    list-style: none;
    color: rgba($color: white, $alpha: 0.5);
  }
}

body {
  @include set-size(100vw, 100vh);

  background-color: $light-gray;

  main.container {
    @include set-size(311px, fit-content);

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    display: grid;
    grid-template-rows: 267px 1fr 1fr;
    gap: 0;

    box-shadow: 0 20px 50px -5px rgba($color: $grayish-blue, $alpha: 0.5);

    section {
      padding: 0 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    section#community-section {
      border-radius: 5px 5px 0 0;
      padding-top: 30px;
      padding-bottom: 30px;

      p {
        font-size: 0.85rem;
        line-height: 1.6rem;
      }

      p.emphasis-text {
        font-size: 0.92rem;
        line-height: 1.25rem;
      }
    }

    section#pricing-section {
      padding-top: 25px;
      padding-bottom: 24px;

      h2 {
        margin-bottom: -10px;
      }

      p {
        font-size: 0.97rem;
      }

      p.price-rate {
        display: flex;
        align-items: center;
        margin-bottom: -20px;

        span {
          font-size: 2rem;
          margin-right: 10px;
        }
      }

      button {
        @include set-size(100%, 48px);
      }
    }

    section#advantages-section {
      padding-top: 25px;
      padding-bottom: 25px;
      border-radius: 0 0 5px 5px;

      ul li {
        font-size: 0.85rem;
        line-height: 1.25rem;
      }
    }
  }
}

@media (min-width: 1440px) {
  body {
    main.container {
      @include set-size(635px, 475px);

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 215px 1fr;

      section {
        @include set-size(100%, 100%);
      }

      section#community-section {
        grid-column: 1 / span 2;
        padding: 40px 50px 40px 40px;

        h1 {
          font-size: 1.48rem;
          margin-bottom: 15px;
        }

        p {
          font-size: 0.98rem;
        }

        p.emphasis-text {
          font-size: 1.1rem;
        }
      }

      section#pricing-section {
        grid-row: 2;
        border-radius: 0 0 0 5px;
        padding: 40px;
      }

      section#advantages-section {
        grid-row: 2;
        grid-column: 2;
        border-radius: 0 0 5px 0;
        padding: 40px;
      }
    }
  }
}
